<div>
  <footer class="bg-white rounded-lg shadow m-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-between">
      <div class="flex items-center space-x-4">
        <div class="text-sm text-gray-500">
          2024 <a href="#" class="hover:underline">Design by Blomit</a>
        </div>
        <div class="text-sm text-gray-500">Terms</div>
        <div class="text-sm text-gray-500">Privacy</div>
      </div>
      <ul class="flex items-center text-sm font-medium text-gray-500">
        <li>
          <a href="https://github.com/SeSAC-1st" class="hover:underline flex items-center">
            <img src="/static/image/githubImage.png" alt="github이미지" width="30px" />
            Github
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>
