<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    

<header class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    <div class="flex flex-wrap justify-between items-center mx-auto py-4 px-8">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/logolmage.png" class="h-12" alt="blomit Logo" />
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-gray-900 dark:text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>              
            <button type="button" class="text-white bg-blue-700 active:bg-blue-900 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-700 dark:active:bg-blue-900 ">로그인</button>
        </div>
    </div>
</header>

</body>

</html>