<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../include/head.ejs") %>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="flex justify-center items-center bg-white min-h-screen font-roboto">
    <div class="flex justify-center items-center bg-white rounded-lg p-6">
      <div class="flex flex-col items-center">
        <a href="/">
          <img src="/static/image/Blomit-Logo.png" alt="logoImage" class="mb-4" />
        </a>
        <hr class="w-full mb-5 border-[#419BED]" />
        <span class="text-2xl font-bold">가입을 환영합니다!</span>
        <input
          type="button"
          class="w-full h-12 mt-5 mb-4 text-white text-lg bg-[#419BED] hover:bg-blue-700 cursor-pointer font-semibold rounded-md"
          value="로그인 하러 가기"
          onClick="location.href='/user/login'"
        />
      </div>
    </div>
  </body>
</html>
