<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블로그 게시물 작성페이지</title>
    <%- include('../include/head.ejs') %>
    <link rel="stylesheet" href="/css/toastui-editor.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"/>
    <link real="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"/>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/880802bab5.js" crossorigin="anonymous"></script>
  </head>
<body>
   <!-- Tost UI Edit CDN -->
   <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
   <!-- Tost UI code-syntax-highligh CDN -->
   <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>


  <div class="px-5 ml-5">

    <form action="" class="w-full pt-5 ">
      <input id="postTitle" type="text" placeholder="제목을 입력해주세요" class="rounded-lg w-full h-16 text-4xl font-semibold    required">
    </form>
    <div class="border-t border-4 border-black w-24 mb-6   "></div>

    <!-- 해결하기: 글이 길어지면 푸터가 가려서 임시로 해놓음 -->
    <div id="editor" class="h-full fixed" ></div>

   
  </div>
  <div class="fixed bottom-0 w-full h-20 bg-white rounded-lg shadow-xl shadow-top-only ">
      <div class=" mx-auto max-w-screen-xl p-4 ">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
      </span>
      <ul class="flex justify-between items-center mt-3  text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
            <button class="ml-3">
                <i class="fa-solid fa-arrow-left" class="hover:underline ml-5 text-lg  me-4 md:me-6"></i>
                <a href="/" class="">나가기</a>
            </button>
          </li>
          <li >
            <button onclick="insertPost()" type="button" class="text-white bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-300 dark:hover:bg-blue-700 focus:outline-none">Commit</button>
          </li>
          
      </ul>
      </div>
    </div>



  <script>
    // Tast UI Editor
      const Editor = toastui.Editor;
      const { codeSyntaxHighlight } = Editor.plugin;

        const width = window.innerWidth;
        const initialEditTypeRes = width > 768 ? 'markdown' : 'wysiwyg';

        const height = window.innerHeight;
        const minHeightRes = width > 420  ?  '480px' :'380px'
  

        const editor = new Editor({
          el: document.querySelector('#editor'),
          height: 'auto',
          minHeight: minHeightRes,
          initialEditType: initialEditTypeRes,
          previewStyle: 'vertical',
        });
        
        // // 이미지 객체 변환 hooks
        // hooks: {
        //     addImageBlobHook(blob, callback) {  // 이미지 업로드 로직 커스텀
        //         console.log('blob, callback =>', blob, callback);
        //         let formData = new FormData();
        //     		formData.append('image', blob); 
        //     }
        // }
        // });

    // 게시물 게시 함수
    async function insertPost() {

      console.log('클릭');
      const postTitle = document.querySelector('#postTitle').value.trim();
      const postContent = [editor.getHTML()];


      if (postTitle.length < 1) {
        alert('제목을 입력해 주세요.')
        throw new Error('Title is empty!');
      }
      // if (postContent.length < 1) {
      //   alert('본문을 입력해 주세요.')
      //   throw new Error('Content is empty!');
      // }

      console.log(editor.getHTML());
      console.log(postTitle);
      
      const userId = 1;
      // req.body : {postTitle, postContent},
      // userId → 세션에서 가져오기
      try {
          const res = await axios({
            method: 'post',
            url: `/post`,
            data: {
              postTitle,
              postContent,
              userId,

            },
          });

          console.log(postTitle, postContent); 
          const { data } = res;
          if (data) {
            alert('게시 완료!');
            document.location.href = '/';
          }
          } catch (error) {
          console.error(error);
        }
    }
  

    function reloadOnWidthChange() {
            let previousWidth = window.innerWidth;

            window.onresize = function() {
                let currentWidth = window.innerWidth;

                if (previousWidth > 768 && currentWidth <= 768) {
                    // 화면 너비가 768px 이하로 변경될 때 페이지를 다시 로드
                    location.reload();
                }
                if (previousWidth < 768 && currentWidth >= 768) {
                    // 화면 너비가 768px 이상으로 변경될 때 페이지를 다시 로드
                    location.reload();
                }


                previousWidth = currentWidth;
            };
        }

      // 페이지 로드 시 체크
      window.onload = reloadOnWidthChange;
  </script>
</body>
</html>