<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/880802bab5.js" crossorigin="anonymous"></script>
    <%- include('../include/head.ejs') %>
    <style>
        .card {
            opacity: 0;
            transform: translateY(-50px);
            animation: slideUpDown 1s ease-in-out forwards;
        }

        @keyframes slideUpDown {
            0% {
                opacity: 0;
                transform: translateY(-50px);
            }
            50% {
                opacity: 1;
                transform: translateY(50px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

    </style>
</head>


<body class="bg-white dark:bg-gray-800">





    <%- include('../include/header.ejs') %>
    <div id="grid-Wrapper " 
    class="mt-8 w-full">

    <%- include('../include/postgrid.ejs') %>
      
      
    </div>
            <%- include('../include/footer.ejs') %>
</body>

</html>




