<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/880802bab5.js" crossorigin="anonymous"></script>
    <%- include('../include/head.ejs') %>
    <style>
        

        /* 페이지 로드시 카드 애니메이션 */
        .card {
            opacity: 0;
            transform: translateY(-50px) rotate(0deg);
            animation: slideUpDown 1s ease-in-out forwards;
        }

        @keyframes slideUpDown {
            0% {
                opacity: 0;
                transform: translateY(-50px);
            }
            50% {
                opacity: 1;
                transform: translateY(50px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /* 카드 호버시 쉐이킹 */
        .card-shake:hover {
            animation: shake  0.5s ease-in-out;
        }

        @keyframes shake {
            0%, 100% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(2deg);
            }
            50% {
                transform: rotate(-2deg);
            }
            75% {
                transform: rotate(2deg);
            }
        }

    </style>
</head>


<body class="bg-white dark:bg-gray-800">
    <%- include('../include/header.ejs') %>
    <div id="grid-Wrapper"  class="mt-8">

        <%- include('../include/postgrid.ejs') %>
    </div>
    <%- include('../include/footer.ejs') %>

</body>
</html>